<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anhuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{300,160},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{400,160},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chonglai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,142}</string>
                <key>spriteSourceSize</key>
                <string>{100,142}</string>
                <key>textureRect</key>
                <string>{{400,260},{100,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,142}</string>
                <key>spriteSourceSize</key>
                <string>{100,142}</string>
                <key>textureRect</key>
                <string>{{100,402},{100,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{100,260},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{0,260},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{200,260},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{300,260},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiasu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{200,402},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jieshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,80}</string>
                <key>spriteSourceSize</key>
                <string>{359,80}</string>
                <key>textureRect</key>
                <string>{{0,60},{359,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kafei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{359,60},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{200,160},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{0,160},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuanyao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,142}</string>
                <key>spriteSourceSize</key>
                <string>{100,142}</string>
                <key>textureRect</key>
                <string>{{0,402},{100,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanjing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,48}</string>
                <key>spriteSourceSize</key>
                <string>{107,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{107,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yaogan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{107,0},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yaoganbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{348,402},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{100,160},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tcs.png</string>
            <key>size</key>
            <string>{500,552}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab548a0610441035000b583614758546:09fd1c6a5e24c42825a7e4e2046142dd:6996c694da075fe74d950c4d9e3c5a6e$</string>
            <key>textureFileName</key>
            <string>tcs.png</string>
        </dict>
    </dict>
</plist>
